:root {
  --main-color-level-1: #eeeeec;
  --main-color-level-2: #abbd81;
  --main-color-level-3: #3B1E2D;
  --main-color-level-4: #700;
  --main-color-level-5: #FF7F00;
  --main-color-level-6: #3d3644;
  --main-color-level-7: #FF5400;
  --main-color-level-8: #bbb; 
  --main-color-level-9: #333; 
  --main-color-level-10: #444; 

}

body {
    background:#2e3436;
    color:#eeeeec;
    font-family: Arial, helvetica, sans-serif;
}

.outerContainer {
    /* min-height:50vh; */
    min-height:100px;
}

form {
    margin:0;
}

img.thumb {
    display:none;
    position:absolute;
    top:1em;
    right:50%;
    clear:both;
    float:right;
    margin:.2em;
}

.tooltip:hover:after {
    content: attr(data-tooltip);
}

a.nws-feed-title:link {
    color:var(--main-color-level-2);
    font-weight:bold;
    text-decoration:none;
}

a.nws-feed-title:visited {
    color:var(--main-color-level-5);
}

a:link {
    color:var(--main-color-level-1);
    font-weight:bold;
    text-decoration:none;
}

a:visited {
    color:var(--main-color-level-8);
}

a:hover {
    color:var(--main-color-level-1);
}

a:active {
    color:var(--main-color-level-7);
}

h1 {
    margin:0 0 .2em 0;
}

span.nws-error {
    color: var(--main-color-level-1);
}

div.nws-error {
    background-color: var(--main-color-level-4);
}

/* Feed Item */

div.nws-tab-feeds {
}

.outerContainer {
}

.nws-tab-feeds-col {
    columns: 15em;
    column-gap: .3em;
}

.nws-tab-feeds-block {
}

.outerContainer-col {
    page-break-inside: avoid;
    break-inside: avoid;
}

.outerContainer-block {
    width:24%;
    display:inline-block;
    vertical-align:top;
}

.outerContainer-phone {
    width:100%;
}

.feedTitle {
    height:1.5em;
    overflow:hidden;
    background:var(--main-color-level-3);
    padding:.2em .2em 0;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.feed {
    vertical-align:top;
    margin: 0 1% .5em 0;
    font-size:.7em;
    border: var(--main-color-level-10) 1px solid;
    background: var(--main-color-level-3);
}

.feed .nws-feed-icon {
    background: var(--main-color-level-3);
}

.feed:hover {
    border: var(--main-color-level-5) 1px solid;
}

.feed ul li img.feed {
    width:28%;
    margin: 0 0.5em 0.1em 0;
    vertical-align:text-top;
    float:left;
}

.feed ul li img.audio {
    width:10%;
    margin: 0 1% 1% 0;
    vertical-align:text-top;
    float:left;
}

.feed ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feed ul li {
    margin:0;
    padding: .3em;
    background: var(--main-color-level-9);
    line-height:1em;
}

.feed ul li:nth-child(even) {
    background: var(--main-color-level-10);
}

.feed ul li:first-child {
    border-top: 1px solid var(--main-color-level-6);
}

.feed ul li:hover {
    background: var(--main-color-level-9);
}

.nws-button-reload,
.nws-button-gallery-feed,
.nws-button-gallery-tab,
.nws-button-col-wrapping-col,
.nws-button-col-wrapping-block,
.nws-button-col-wrapping-phone {
    color: var(--main-color-level-5);
    cursor: pointer;
    float: right;
    margin: 0 .5em 0 0;
}

.nws-button-gallery-tab,
.nws-button-col-wrapping-col,
.nws-button-col-wrapping-block,
.nws-button-col-wrapping-phone {
    color: var(--main-color-level-3);
}

.nws-button-reload:hover,
.nws-button-gallery-feed:hover,
.nws-button-gallery-tab:hover,
.nws-button-col-wrapping-col:hover,
.nws-button-col-wrapping-block:hover,
.nws-button-col-wrapping-phone:hover {
    color:var(--main-color-level-7);
}

.nws-button-col-wrapping-block {
    font-size:150%;
    position:absolute;
    top:.4em;
    right:3em;
}

.nws-button-col-wrapping-col {
    font-size:150%;
    position:absolute;
    top:.4em;
    right:2em;
}

.nws-button-col-wrapping-phone {
    font-size:150%;
    position:absolute;
    top:.4em;
    right:1em;
}

.nws-button-gallery-tab {
    font-size:150%;
    position:absolute;
    top:.3em;
    right:0;
}

/* Images */
.favicon img {
    /* color:none; */
    /* font-weight:normal; */
    /* text-decoration:none; */
    /* margin:.1em; */
    width:16px;
    vertical-align: text-top;
}

img.full {
    width:100%;
}

.audio-note {
    font-size:150%;
    color:orange;
    margin:0 .1em .1em 0
}

/* Tabs */

.ui-tabs-selected span {
    color:#CD9E3F
}

.ui-widget-content {
    color: var(--main-color-level-5);
    background: var(--main-color-level-6) !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active a:visited {
    background: var(--main-color-level-6) !important;
    border: 1px solid #AAAAAA;
    font-weight: normal;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:var(--main-color-level-5);
}

.ui-widget-header {
    background: #999;
    /* border: 1px solid #AAAAAA; */
    border: 0;
    font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
    padding: .5em .2em;
}

/* Back Office */
.feedUp {
    line-height:1.5em;
    vertical-align:bottom;
}

.feedDel:hover {
    color:orange;
}

.feedUp:hover {
    color:green;
}

/* Version Checking */
#version {
    font-weight: bolder;
    float:right;
    font-size:150%;
    cursor:pointer;
    height:1.5em;
}

#version .unknown {
    color:orange;
}

#version .mns-vc-unmoved {
    color:green;
}

#version .mns-vc-moved {
    color:red;
    display:invisible;
}

.monospace {
    font-family: monospace;
}

/* Galleryshow  */

#viewer {
    z-index: 1000;
    position: fixed;
    display: none;
    /* overflow: hidden; */

    top:0 !important;
    bottom: 0;
    left: 0 !important;
    right: 0;

    margin: auto;
    /* min-width: 300px; */
}

#viewer-img {
    /* width: 500px; */
    border: 1px solid #2E3436;
}

#viewer span {
    padding: 2px;
    position: absolute;
    margin-right:5px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    /* background-color: #ccc; */
    /* z-index: 1001; */
    cursor: pointer;
    /* border-radius: 50%; */
    opacity: 0;
    transition: .3s;
}

#viewer span:hover {
    /* box-shadow: 0px 0px 2px 1px #333333; */
    color: orange;
}

#viewer:hover span {
    opacity: 1;
}

#viewer #cross {
    top: 4px;
    left: 4px;
}

#viewer #prev {
    top: 2px;
    left: 25px;
}

#viewer #pause, #play {
    top: 2px;
    left: 46px;
}

#viewer #next {
    top: 2px;
    left: 68px;
}

#pause {
    display: none;
}

#viewer #img-name {
    font-weight: normal;
    color:#eeeeec;
    background-color: #2e3436;
    bottom: 30px;
    /* right:1px; */
    /* top: 30px; */
    /* left: -200px; */
    left:1px;
    padding: .2em .5em;
    font-size: 14px;
    text-align: left;
    border-radius: 0 5px 5px 0;
    transition: .5s;
    text-overflow: ellipsis;
}

#viewer #buttons {
    position:absolute;
    font-size:5pt;
    z-index:1001;
    width:5em;
    height:3em;
    opacity:0.5;
    font-weight: normal;
    color:#eeeeec;
    background-color: #2e3436;
    top: 1px;
    /* right:1px; */
    /* top: 30px; */
    /* left: -200px; */
    left:1px;
    padding: .2em .5em;
    font-size: 14px;
    text-align: left;
    border-radius: 0 0 5px 0;
    transition: .5s;
    text-overflow: ellipsis;
}


#viewer:hover #cross {
    left: 4px;
    z-index:1002;
}

#viewer:hover #prev {
    z-index:1002;
    left: 25px;
}

#viewer:hover #play {
    z-index:1002;
    left: 46px;
}

#viewer:hover #next {
    z-index:1002;
    left: 64px;
}

/*
 * #viewer:hover #img-name {
 *     left: 1px;
 * }
 */

.icon-home, .icon-play, .icon-pause, .icon-prev, .icon-next, .icon-arrow-left, .icon-close {
    border-radius: 0 5px 5px 0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-smoothing: antialiased;
}

.icon-home:before {
	content: "\e000";
}

.icon-play:before {
	content: "▶";
}

.icon-pause:before {
	content: "■";
}

.icon-prev:before {
	content: "◁";
}

.icon-next:before {
	content: "▷";
}

.icon-arrow-left:before {
	content: "?";
}

.icon-close:before {
	content: "✖";
}

/* ◁ ▶ ▷ ■ */

/* ► Play. ▌▌ Pause. ■ Stop. */

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* filter:alpha(opacity=80); */
    /* -moz-opacity:0.8; */
    /* -khtml-opacity: 0.8; */
    opacity: 0.9;
    z-index: 500;

    text-align: center;
    margin: auto;
}

#error {
    width: 150px;
    text-align: center;
    padding: 1em;
    /* margin: auto; */
    border: orange 1px solid;
}

.notif {
    font-weight: bold;
    padding : .5em .5em .5em 0;
    border-top : 1px solid red;
}
